.staff-form-wrapper small{
    color: gray;


.highlight {
    animation: highlight-animation 3s ease-out forwards;
}

@keyframes highlight-animation {
    0% {
        background-color: #e6e6fa;
    }
    50% {
        background-color: #d8c2ff4c;
    }
    100% {
        background-color: white;
    }
}
