{% extends 'mainController/layout.html'%}
{% load static %}
{% block title %} Cтили {% endblock %}


{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainController/css/style.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}
{% block body %}
<h1> </h1><br>
<div class="style">
    <div class="container-show">
        <div class="service-section">
            <h3>Наращивание</h3>
            <div class="service">
                <img src="{% static 'mainController/img/example2.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>sefsrgsedrgehbe</p>
                        <div class="type">erberberb</div>
                    </div>
                    <div class="book">
                        <p>sefsrgsedrgehb  fwef  wef we </p>
                        <div class="type">erberbwefwerbff wef fwefwef fewfwef</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-section">
            <div class="service">
                <img src="{% static 'mainController/img/example2.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>aergaergergeg srgibr bwrkjnv sdlfkdvn sdkfnsdovk sdkfjsdnvwo ksdjvnwel</p>
                        <div class="type">dsfgasrgsrgafvse erjgn wdevw wewe wrberber wevwe wewevwev </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-section">
            <div class="service">
                <img src="{% static 'mainController/img/example2.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>aergaergergeg</p>
                        <div class="type">dsfgasrgsrg</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-section">
            <div class="service">
                <img src="{% static 'mainController/img/example1.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>aergaergergeg</p>
                        <div class="type">dsfgasrgsrg</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-section">
            <div class="service">
                <img src="{% static 'mainController/img/example1.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>aergaergergeg</p>
                        <div class="type">dsfgasrgsrg</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-section">
            <div class="service">
                <img src="{% static 'mainController/img/example1.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>aergaergergeg</p>
                        <div class="type">dsfgasrgsrg</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-show">
        <div class="service-section">
            <div class="service">
                <img src="{% static 'mainController/img/example1.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>aergaergergeg</p>
                        <div class="type">dsfgasrgsrg</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-section">
            <div class="service">
                <img src="{% static 'mainController/img/example1.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>aergaergergeg</p>
                        <div class="type">dsfgasrgsrg</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-section">
            <div class="service">
                <img src="{% static 'mainController/img/example1.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>aergaergergeg</p>
                        <div class="type">dsfgasrgsrg</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-section">
            <div class="service">
                <img src="{% static 'mainController/img/example1.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>aergaergergeg</p>
                        <div class="type">dsfgasrgsrg</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-section">
            <div class="service">
                <img src="{% static 'mainController/img/example1.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>aergaergergeg</p>
                        <div class="type">dsfgasrgsrg</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-section">
            <div class="service">
                <img src="{% static 'mainController/img/example1.jpg' %}" alt="Фотография услуги">
                <div class="about">
                    <div class="text-about">
                            <p>aergaergergeg</p>
                        <div class="type">dsfgasrgsrg</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
