{% extends 'mainController/layout.html'%}
{% load static %}
{% block body %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card bg-white p-4 rounded-3 shadow-lg" style="max-width: 600px;">
        <div class="card-title">
            <h2 class="text-center text-black mb-4 ">Загрузить изображения для карусели</h2>
            <div class="messages">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissible {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="alert alert-info text-center mb-4" role="alert">
                Загрузите минимум 4 изображения для корректной работы карусели.
            </div>
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Загрузить изображения</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
