{% load static %}
{% load i18n %}
<div id="calendar-info" class="mb-3">
        {% if form %}
    <div class="profile-container rounded" style="background-color: #343a40;">
        <h2>Настройки отображаемого диапазона календаря</h2>
        <form hx-post="{% url 'edit_calendar_settings' staff_member.id %}" class=""
              hx-swap="outerHTML"
              hx-target="#calendar-info">
            {% csrf_token %}
            <p><strong>Дата начала:</strong> <span id="start_date">{{ start_date }}</span></p>
            <div class="mb-3">
                <label class="form-label">Длительность:</label>
                {{ form.duration }}
            </div>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
    </div>
        {% else %}
    <div class="profile-container rounded" style="background-color: #343a40;">
        <div class="d-flex justify-content-start gap-3">
            <h2>Настройка календаря</h2>
            <a hx-get="{% url 'edit_calendar_settings' staff_member.id %}?edit=true"
               hx-swap="outerHTML"
               hx-target="#calendar-info"
               class="section-content-button modify-btn button-color-green">
                <i class="fa-solid fa-gear"></i>
            </a>
        </div>
        <div class="section-content">
            <p><strong>Начальная дата:</strong> {{ start_date }}</p>
            <p><strong>Период(в днях):</strong> {{ settings.duration }} </p>
            <p><strong>Конечная дата:</strong> {{ settings.get_end_date }}</p>
        </div>
    </div>
        {% endif %}
</div>
