
{% load i18n %}
{% load static %}
<style>
.bg-dark ::placeholder {
    color: #cccccc !important;

}
</style>
<div class="card bg-dark text-white border-secondary">
    <div class="card-header border-bottom border-secondary d-flex justify-content-between">
        <h5 class="mb-0">{{ page_title }}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="card-body text-start">
        <form
            hx-post="{% if not service %}{% url 'add_service' %}{% endif %}{% if service %}{% url 'update_service'  service.pk %}{% endif %}"
            hx-target="#render-chunk"
            enctype="multipart/form-data"
            hx-on="{% if not errorForm %}htmx:after-request: $('#formModal').modal('hide'){% endif %}"
        >
            {% csrf_token %}
            <div class="mb-2">
                <label class="form-label">Название</label>
                <div class="">
                {{ form.name }}
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label">Описание</label>
                {{ form.description }}
            </div>

            <div class="mb-2">
                <label class="form-label">Продолжительность</label>
                {{ form.duration }}
            </div>
            <div class="mb-2">
                <label class="form-label">Цена</label>
                {{ form.price }}
            </div>
            <div class="me-2 file">
                <label for="image" class="form-label">Фото услуги</label>
                {{ form.image }}
            </div>
            <button type="submit" class="btn btn-outline-light mb-2">{{ btn_text }}</button>
        </form>
        {% if messages %}
        <div class="mt-3">
            {% for message in messages %}
            <div class="alert alert-dismissible fade show custom-alert {{ message.tags }}">
                {{ message }}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>




{% block customJS %}
    <script src="{% static 'js/js-utils.js' %}"></script>
{% endblock %}
