{% extends 'mainController/layout.html'%}
{% load i18n %}
{% load static %}
{% block title %} Управление услугами {% endblock %}


{% block body %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4" style="width: 700px; border-radius: 20px; background-color: #ffffffc4;">
        <div class="card-body text-center">
            <h2 class="card-title text-black">{{ page_title }}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">{{btn_text}}</button>
            </form>
            <div class="messages" style="margin: 20px 0">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissible {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                     role="alert">{{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customJS %}
    <script src="{% static 'js/js-utils.js' %}"></script>
{% endblock %}
