{% load i18n %}
{% load static %}
<style>
    .bg-dark ::placeholder {
        color: #cccccc !important;
    }
    .select2-container .select2-selection--multiple {
        background-color: #343a40 !important;
    }
    .select2-selection--single{
        background-color: #343a40 !important;
    }
    .select2-search__field{
        padding: 2px !important;
        min-height: 26px !important;
        color: white !important;
    }
    .select2-selection__rendered{
        color: white !important;
    }
    .select2-selection__choice{
        background-color: #8975afb0 !important;
    }
    .select2-search--dropdown{
        background-color: #343a40 !important;
    }
    .select2-search__field{
        background-color: #343a40 !important;
    }
    .select2-results{
        background-color: #343a40 !important;
        color: white !important;
    }
    .select2-results__option--selected{
        background-color: #8975afb0 !important;
    }
    .select2-selection--single{
        padding: 2px !important;
        min-height: 38px !important;
    }
    .select2-selection__choice__remove{
        color: white !important;
    }
    .select2-selection__choice__remove:hover{
        color: black !important;
    }
</style>

<div class="card bg-dark text-white border-secondary">
    <div class="card-header border-bottom border-secondary">
        <h5 class="mb-0">{{ page_title }}</h5>
    </div>
    <div class="card-body text-start">
        <form hx-post="{% url 'add_staff_member_info' %}" hx-target="#render-chunk">
            {% csrf_token %}
            {% if user.is_superuser and add_form %}
            <div class="mb-2">
                <label class="form-label" for="id_user">Пользователь</label>
                <select id="id_user" name="user" style="width: 100%"></select>
            </div>
            {% endif %}
            <div class="mb-2">
                <label class="form-label" for="id_services_offered">Услуги</label>
                <select name="services_offered" style="width: 100%" required id="id_services_offered" multiple>
                </select>
            </div>

            <div class="mb-2">
                <label class="form-label" for="id_slot_duration">{{ form.slot_duration.label }}</label>
                <div class="input-group">
                    {{ form.slot_duration }}
                </div>
            </div>

            <div class="mb-2">
                <label class="form-label" for="id_lead_time">{{ form.lead_time.label }}</label>
                <div class="input-group">
                    {{ form.lead_time }}
                </div>
            </div>

            <div class="mb-2">
                <label class="form-label" for="id_finish_time">{{ form.finish_time.label }}</label>
                <div class="input-group">
                    {{ form.finish_time }}
                </div>
            </div>

            <button type="submit" class="btn btn-outline-light mb-2">{{ btn_text }}</button>
        </form>

        {% if messages %}
        <div class="mt-3">
            {% for message in messages %}
            <div class="alert alert-dismissible fade show custom-alert {{ message.tags }}">
                {{ message }}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% block customJS %}
<script>
    $(document).ready(function () {
        $('#id_user').select2({
            placeholder: 'Введите имя пользователя',
            allowClear: true,
            ajax: {
                url: "{% url 'search_users' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return { search: params.term };
                },
                processResults: function (data) {
                    return {
                        results: data.map(user => ({
                            id: user.id,
                            text: `${user.first_name} ${user.last_name}`
                        }))
                    };
                },
                cache: true
            },
        });

        $('#id_services_offered').select2({
            placeholder: 'Введите название услуги',
            allowClear: true,
            ajax: {
                url: "{% url 'search_services' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return { search: params.term };
                },
                processResults: function (data) {
                    return {
                        results: data.map(service => ({
                            id: service.id,
                            text: `${service.name} - ${service.price} руб.`
                        }))
                    };
                },
                cache: true
            },
        });
    });
</script>
{% endblock %}
