{% extends 'mainController/layout.html'%}
{% load static %}
{% block title %} Личный кабинет {% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{%static 'mainUser/css/profile.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/app_admin/staff_list.css' %}"/>
<link rel="stylesheet" type="text/css" href="{%static 'css/app_admin/manage_staff.css'%}"/>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/app_admin/working_hours.css' %}"/>
<!-- additional CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css"
      integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
{% block body %}

<style>
    .project-box {
        width: 100%;
        height: 250px;
        background: #e0e0e0;
        border-radius: 10px;
    }
    .info-section {
        background: #1a1a1a;
    }
    .stack-icon {
        width: 40px;
        height: 40px;
        background: white;
        display: inline-block;
        border-radius: 5px;
    }
    .review-dot {
        width: 15px;
        height: 15px;
        background: white;
        display: inline-block;
        border-radius: 50%;
    }
    .custom{
        background-color:#0e2238;
    }
    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
</style>
<!--<div class="custom-wrapper">-->
<!--    <h2>Фотографии</h2>-->
<!--    <a href="{% url 'upload_images'%}" class="icon-link">-->
<!--        <button class="btn btn-warning">Обновить фото</button>-->
<!--    </a>-->
<!--</div>-->
<div class="custom-pro mx-auto text-light">
    <div class="container-fluid p-4">
        <div class="row">
            <aside class="col-md-3 text-light">
                <div class="d-flex flex-column align-items-start">
                    <div class="d-flex align-items-start gap-3">
                        <div data-bs-toggle="modal"
                             data-bs-target="#avatarModal"
                             data-avatar-url="{% if not staff_member %}
                                                    {% if user.avatar %}
                                                        {{ user.get_avatar_url }}
                                                    {% elif user.is_tg_user %}
                                                        {{ user.photo_url }}
                                                    {% else %}
                                                        {% static 'mainUser/img/avatar-d.png' %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if staff_member.user.avatar %}
                                                        {{ staff_member.user.get_avatar_url }}
                                                    {% elif staff_member.user.is_tg_user %}
                                                        {{ staff_member.user.photo_url }}
                                                    {% else %}
                                                        {% static 'mainUser/img/avatar-d.png' %}
                                                    {% endif %}
                                                {% endif %}"
                             onclick="showAvatarModal(this)"
                             class="avatar overflow-hidden rounded"
                             style="cursor: pointer;">
                            {% if not staff_member %}
                                {% if user.avatar %}
                                <img src="{{ user.get_avatar_url }}" alt="Avatar"
                                     class="img-fluid w-100 h-100 object-fit-cover">
                                {% elif user.is_tg_user %}
                                <img src="{{ user.photo_url }}" alt="Avatar"
                                     class="img-fluid w-100 h-100 object-fit-cover">
                                {% else %}
                                <img src="{% static 'mainUser/img/avatar-d.png' %}" alt="Avatar"
                                     class="img-fluid w-100 h-100 object-fit-cover">
                                {% endif %}
                            {% else %}
                                {% if staff_member.user.avatar %}
                                    <img src="{{ staff_member.user.get_avatar_url }}" alt="Avatar"
                                         class="img-fluid w-100 h-100 object-fit-cover">
                                {% elif staff_member.user.is_tg_user %}
                                    <img src="{{ staff_member.user.photo_url }}" alt="Avatar"
                                         class="img-fluid w-100 h-100 object-fit-cover">
                                {% else %}
                                    <img src="{% static 'mainUser/img/avatar-d.png' %}" alt="Avatar"
                                         class="img-fluid w-100 h-100 object-fit-cover">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                            {% if not staff_member%}
                                <h4 class="mb-0">{{ user.first_name }}</h4>
                                <p class="mb-0">{{ user.last_name }}</p>
                            {% else %}
                                <h4 class="mb-0">{{ staff_member.user.first_name }}</h4>
                                <p class="mb-0">{{ staff_member.user.last_name }}</p>
                            {% endif %}
                            {% if not staff_member or staff_member.user == request.user %}
                                <a href="#"
                                   hx-get="{% url 'edit_user_profile' %}"
                                   hx-target="#render-chunk"
                                   class="btn btn-outline-primary btn-sm d-flex align-items-center justify-content-center"
                                   style="width: 28px; height: 28px;">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% if not staff_member or staff_member.user == request.user %}
                        <p class="mt-3">Добро пожаловать в ваш личный кабинет.</p>
                    {% else %}
                        <p class="mt-3">Личный кабинет мастера.</p>
                    {% endif %}
                    <div class="d-flex flex-column gap-2 mt-2">
<!--                        Надо сделать чтобы для каждого свое было-->
<!--                        <div class="d-flex gap-2 w-100">-->
<!--                            <a href="#"-->
<!--                               hx-get="{% url 'staff_profile' %}"-->
<!--                               hx-target="#render-chunk"-->
<!--                               class="btn btn-outline-light flex-grow-1">-->
<!--                                Профиль-->
<!--                            </a>-->
<!--                        Блок -->
<!--                        {% if not staff_member or staff_member.user == request.user %}-->
<!--                            <a href="#"-->
<!--                               hx-get="{% url 'edit_user_profile' %}"-->
<!--                               hx-target="#render-chunk"-->
<!--                               class="btn btn-outline-primary btn-sm d-flex align-items-center justify-content-center"-->
<!--                               style="width: 38px; height: 38px;">-->
<!--                                <i class="fa-solid fa-pen"></i>-->
<!--                            </a>-->
<!--                        {% endif %}-->
<!--                        </div>-->
                        {% if not staff_member %}
                            <a href="#"
                               hx-get="{% url 'get_service_list' %}"
                               hx-target="#render-chunk"
                               class="btn btn-outline-light">
                                Список услуг
                            </a>
                            <a href="#"
                               hx-get="{% url 'get_staff_list' %}"
                               hx-target="#render-chunk"
                               class="btn btn-outline-light">
                                Список работников
                            </a>
                            <a href="#"
                               hx-get="{% url 'service_offered' %}"
                               hx-target="#render-chunk"
                               hx-trigger="load from:body"
                               class="d-none">
                                Предоставляемые услуги
                            </a>
                            {% if request.user.is_superuser%}
                                <a href="#"
                                   hx-get="{% url 'upload_images' %}"
                                   hx-target="#render-chunk"
                                   class="btn btn-outline-light">
                                    Карусель фото
                                </a>
                            {% endif %}
                            {% include 'administration/includes/dropdown_staff.html' %}
                        {% elif staff_member and request.user.is_superuser%}
                            <a href="#"
                               hx-get="{% url 'get_staff_list' %}"
                               hx-target="#render-chunk"
                               class="btn btn-outline-light">
                                Список работников
                            </a>
                            <a href="#"
                               hx-get="{% url 'upload_images' %}"
                               hx-target="#render-chunk"
                               class="btn btn-outline-light">
                                Карусель фото
                            </a>
                            <a href="#"
                               hx-get="{% url 'service_offered' staff_member.user.id %}"
                               hx-target="#render-chunk"
                               hx-trigger="load from:body"
                               class="d-none">
                                Предоставляемые услуги
                            </a>
                            {% include 'administration/includes/dropdown_staff.html' %}
                        {% else %}
                            <a href="#"
                               hx-get="{% url 'service_offered' staff_member.user.id %}"
                               hx-target="#render-chunk"
                               hx-trigger="load from:body, click form:body"
                               class="btn btn-outline-light">
                                Предоставляемые услуги
                            </a>
                        {% endif %}
                    </div>
                </div>
            </aside>
            <main class="col-md-9" id="render-chunk">
<!--                {% include 'administration/partials/staff_profile.html' %}-->
            </main>
            {% include 'modal/avatar_user_modal.html' %}
<!--            Modal for load forms -->
            {% include 'modal/form_modal.html' %}
<!--            Modal for load forms -->
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/ru.js"></script>

<script src="{% static 'js/modal/error_modal.js' %}"></script>
<!--<script src="{% static 'js/js-utils.js' %}"></script>-->
<script src="{% static 'js/drop_down_menu.js' %}"></script>

{% endblock %}
