{% extends 'mainController/layout.html'%}
{% load i18n %}
{% load static %}
{% block title %} Услуги {% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{%static 'css/app_admin/staff_list.css'%}">
{% endblock %}


{% block body %}
<section class="content content-wrapper">
    <div class="profile-container">
        <section class="profile-section">
            <div class="section-header">
                <a href="{% url 'show_all'%}" class="btn btn-warning"> Меню </a>
                <h2 class="section-header-itm">{% trans 'List of services' %}</h2>
                <div class="buttons-container section-header-itm">
                    <a href="{% url 'add_service'%}"
                       class="btn btn-secondary">
                        Добавить услугу
                    </a>
                </div>
            </div>
            <div class="responsive-table-container">
                <table>
                    <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Duration' %}</th>
                        <th>{% trans 'Price' %}</th>
                        <th>{% trans 'Details' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in services %}
                    <tr>
                        <td data-label="Название">{{ service.name }}</td>
                        <td data-label="Продолжительность">{{ service.get_duration }}</td>
                        <td data-label="Цена">{{ service.get_price}}</td>
                        <td>
                            <div class="buttons-container">
                                {% if user.is_superuser %}
                                <a href="{% url 'update_service' service_id=service.id %}"
                                   class="btn btn-warning">{% trans 'Edit' %}</a>
                                <a href="{% url 'delete_service' service_id=service.id %}"
                                   class="btn btn-danger">{% trans 'Remove' %}</a>
                                {% endif %}
                            </div>
                        </td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">{% trans 'Услуги не добавлены' %}.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="messages" style="margin: 20px 0">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                 role="alert">{{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
