<div class="admin-notification cursor-pointer" id="admin-notifications-container"
    hx-get="{% url 'chatroom' chatroom_name %}"
    hx-trigger="click"
    hx-target="#hx-getter"
    hx-select="#hx-getter"
    hx-swap="outerHTML"
    hx-on="htmx:afterRequest:this.remove()">
    <div class="notification-header">
        Новое сообщение
    </div>
    <div class="notification-body">
        <strong>{{ message.author.get_full_name }}:</strong>
        {{ message.body|truncatechars:25 }}
    </div>
    <div class="notification-footer">
        <small>{{ message.created|time:"H:i" }}</small>
        <a href="{% url 'chatroom' chatroom_name=chatroom_name %}">Просмотреть</a>
    </div>
</div>
