{% load i18n %}
{% load static %}
<tr id="service-{{ service.id }}" class="{% if highlight %}table-highlight{% endif %}">
    {% if edit_mode %}
        <td class="edit-mode d-none"
        style="cursor: pointer;"
        onclick="event.stopPropagation(); this.querySelector('input[type=checkbox]').click()"
        >
            <input type="checkbox" name="services" value="{{ service.id }}" style="margin: auto; pointer-events: none;">
        </td>
    {% endif %}
    <td data-label="Название"
        style="text-overflow: ellipsis;"
        hx-trigger="{% if user.is_superuser %}click{% endif %}"
        hx-get="{% if user.is_superuser %}{% url 'update_service' service_id=service.id %}{% endif %}"
        hx-target="#formModalContent"
        data-bs-toggle="{% if user.is_superuser %}modal{% endif %}"
        data-bs-target="{% if user.is_superuser %}#formModal{% endif %}"
        class="{% if user.is_superuser %}clickable{% endif %}"
    >
        {{ service.name }}
    </td>
    <td data-label="Продолжительность" style="">
        {{ service.get_duration }}
    </td>
    <td data-label="Цена" style="">
        {{ service.get_price }}
    </td>
    <td style="">
        <div class="d-flex align-items-center">
            {% if user.is_superuser %}
                <a hx-get="{% url 'update_service' service_id=service.id %}"
                   hx-target="#formModalContent"
                   data-bs-toggle="modal"
                   data-bs-target="#formModal"
                   class="edit-mode btn btn-outline-warning btn-sm d-none">{% trans 'Edit' %}</a>
            {% endif %}
            <div id="service-row-btns-{{ service.id }}" class="d-block">
                {% include 'administration/includes/service_row_btns.html' with service=service%}
            </div>
        </div>
    </td>
</tr>
