<style>
  .custom-input {
    border-radius: 12px;
    font-size: 1.1rem;
    text-align: center;
  }

  .form-control {
    padding: 0px;
  }

  .modal-body {
    padding-bottom: 0px;
  }

  @media (min-width: 576px) {
    .modal-dialog-custom {
      max-width: 400px;
    }
  }
</style>

<div class="modal fade show" id="CredentialsModal" style="display: block;" tabindex="-1" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-custom w-100">
    <div class="modal-content shadow-lg"
         style="background-color: #4f5156; border-left: 4px solid #4CAF50; color: white !important;">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title">Добро пожаловать!</h5>
      </div>
      <div class="modal-body fs-5">
        <p class="text-center">Укажите свои имя и фамилию</p>
        <form method="post"
              class="d-flex flex-column align-items-center justify-content-center w-100 px-3"
              id="CredentialsForm"
              hx-post="{% url 'show_confirming_credentials_modal' %}"
              hx-swap="none"
              hx-on="htmx:afterRequest: removeModal()">
          {% csrf_token %}
          <input type="text" name="first_name" id="first_name"
                 class="form-control custom-input mb-3 w-100"
                 placeholder="Имя" required>
          <input type="text" name="last_name" id="last_name"
                 class="form-control custom-input mb-3 w-100"
                 placeholder="Фамилия" required>
        </form>
      </div>
      <div class="d-flex p-2 justify-content-center">
        <button type="submit" class="btn btn-primary btn-lm w-50 mx-3" form="CredentialsForm">Отправить</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>

<script>
  function removeModal() {
    document.getElementById('CredentialsModal')?.remove();
    document.querySelectorAll('.modal-backdrop')?.forEach(el => el.remove());
  }
</script>
