.custom-container {
        width: 100%;
        max-width: 500px;
        position: relative;
        overflow: hidden;
    }

.custom-center{
    padding-top:100px;
}

.custom-btn {
    height: 60px;
    width: 300px;
    margin: 10px auto;
    position: relative;
    background: #f8f9fa;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login, .signup {
    font-size: 18px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    margin-left: 30px;
}

.login-slider {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.moveslider {
    left: 150px;
}

.form-section {
    height: auto;
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.form-section-move {
    transform: translateX(-100%);
}

.login-box, .signup-box {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.signup-box {

}


.ele {
    height: 50px;
    width: 100%;
    max-width: 300px;
    border: none;
    color: #4d4d4d;
    background: #f0f0f0;
    border-radius: 25px;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 15px;
}

.custom-form-group {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
}

.custom-form-group label {
    width: 35%;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    padding-right: 10px;
}

.small-ele {
    width: 55%;
    height: 40px;
    border: none;
    background: #f0f0f0;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 14px;
}

.clkbtn {
    height: 50px;
    width: 190px;
    border-radius: 25px;
    background: linear-gradient(to right, rgb(255, 195, 110), rgb(255, 146, 91));
    font-size: 18px;
    border: none;
    cursor: pointer;
}
