    .avatar {
        width: 100px;
        height: 100px;
    }

    .custom-pro {
        max-width: 1400px;
        width: 100%;
    }

    .project-box {
        height: 100px;
        background-color: #2c2c2c;
        border-radius: 15px;
    }

    .info-section {
        background-color: #1e1e1e;
    }

    .stack-icon,
    .review-dot {
        width: 20px;
        height: 20px;
        background-color: #444;
        border-radius: 50%;
    }

    .appointment-box {
        background-color: #2c2c2c;
        border-radius: 15px;
        padding: 1rem;
        margin-bottom: 1rem;
        color: #fff;
    }

    .input-file {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .file {
        width: 75%;
    }

    @media (max-width: 768px) {
        .avatar {
            width: 60px;
            height: 60px;
        }

        .project-box {
            height: 80px;
        }

        .input-file{
            display: block;
        }
    }

    @media (max-width: 450px) {
        .input-file {
            flex-direction: column;
            align-items: stretch;
        }

        .input-file button {
            width: 100%;
        }

        .file {
            width: 100%;
            margin-bottom:0.5rem;
        }
    }





    .custom-alert {
        background-color: #343a40;
        border: 1px solid #555;
        color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .custom-alert.success {
        background-color: #28a745;
        color: #fff;
    }

    .custom-alert.error {
        background-color: #dc3545;
        color: #fff;
    }

    .custom-alert.info {
        background-color: #17a2b8;
        color: #fff;
    }

    .custom-alert.warning {
        background-color: #ffc107;
        color: #212529;
    }
